extends layout

block content
  .banner-bootom-w3-agileits
    .container(style="width:50%;")
      button.btn.btn-default.btn-create.center-block Thêm thương hiệu mới
      table#danhsach.table.table-striped.table-bordered
        thead
          tr
            th Tên thương hiệu
            th Trạng thái
            th Thao tác
        tbody
          each manufacturer in manufacturers
            tr
              td 
                | #{manufacturer.name}
              td 
                h4
                  if (manufacturer.deleted)
                    a
                      span.label.label-danger
                        i.fa.fa-ban  Đã ẩn
                  else
                    a
                      span.label.label-success
                        i.fa.fa-check-circle-o  Bình thường
              td
                button.btn.btn-default.btn-edit(value=manufacturer._id)
                  | Chỉnh sửa
                | 
                if (!manufacturer.deleted)
                  button.delete.btn.btn-default(value=manufacturer._id)
                    | Ẩn
                else
                  button.restore.btn.btn-default(value=manufacturer._id)
                    | Hiện
        .clearfix

  //- Modal hide manufacturer confirm
  #delConfirm.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5.modal-title Xác nhận
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p
            | Ẩn tất cả sản phẩm thuộc thương hiệu này ?
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') 
            | Hủy
          button#btn-confirm-delete.btn.btn-primary(type='button', data-dismiss='modal') 
            | Xác nhận
  //- Modal restore manufacturer confirm
  #restoreConfirm.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5.modal-title Xác nhận
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p
            | Hiện thương hiệu này ?
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') 
            | Hủy
          button#btn-confirm-restore.btn.btn-primary(type='button', data-dismiss='modal') 
            | Xác nhận


  //- Modal edit manufacturer
  #manufacturer_edit.table-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form.form-horizontal.form-label-left(action='/admin/manufacturer/edit', method='post')
          .modal-header
            h5#edit-modal-title.modal-title
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .x_panel
              .x_title
                input.id(type='hidden', name='id')
                h2.maThuongHieu.text-center
                  | 
                .clearfix
              .x_content
                br              
                .form-group
                  label.control-label.col-md-4.col-sm-3.col-xs-12 Tên thương hiệu
                    span.required  *
                  .col-md-8.col-sm-9.col-xs-12
                    input.manufacturer_name.form-control(type='text', name='name' required)
              .clearfix
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Đóng
            button#update.btn.btn-primary(type='submit') Cập nhật
    

  //- Init pluggin
  script.
    $(document).ready(function() {
      var table = $('#danhsach').DataTable();
    });

  //- Chức năng cho button
  script.
    // Hiện modal xác nhận xóa manufacturer
    $('.delete').click(function() {
      var id = this.value; 
      $("#btn-confirm-delete").val(id);
      $('#delConfirm').modal('show')
    });
    // Xác nhận xóa manufacturer
    $("#btn-confirm-delete").click(function() {
      var id = this.value; 
      $.ajax({
        url: '/admin/delete',
        type: 'POST',
        dataType: 'json',
        data: {
          item_type: "manufacturer",
          id: id,
        }
      }).done(function(status) {
        localStorage.setItem("Status", status)
        window.location.reload(); 
      });
    });

    // Hiện modal xác nhận khôi phục manufacturer
    $('.restore').click(function() {
      var id = this.value; 
      $("#btn-confirm-restore").val(id);
      $('#restoreConfirm').modal('show')
    });
    // Xác nhận khôi phục manufacturer
    $("#btn-confirm-restore").click(function() {
      var id = this.value; 
      $.ajax({
        url: '/admin/restore',
        type: 'POST',
        dataType: 'json',
        data: {
          item_type: "manufacturer",
          id: id,
        }
      }).done(function(status) {
        localStorage.setItem("Status", status)
        window.location.reload(); 
      });
    });

    //- // Button tạo manufacturer mới
    $('.btn-create').click(function(e) {
      $(".id").val('null');
      $(".maThuongHieu").text(null);
      $('#edit-modal-title').text('Thêm thương hiệu mới');
      $(".manufacturer_name").attr('placeholder', 'Tên thương hiệu').val(null);
      $('#manufacturer_edit').modal('show');
    });

    // Button sửa thông tin manufacturer
    $('.btn-edit').click(function(e) {
      e.preventDefault();
      var id = this.value;
      $(".id").val(id);
      $(".maThươngHieu").text("Mã thương hiệu: " + id);
      $.ajax({
        url: '/admin/manufacturer',
        type: 'POST',
        dataType: 'json',
        data: {
          id: id,
        }
      }).done(function(manufacturer) {
        $('#edit-modal-title').text('Chỉnh sửa thương hiệu');
        $(".manufacturer_name").attr('placeholder', manufacturer.name).val(manufacturer.name);
        $('#manufacturer_edit').modal('show');
      });
    });

                                    