extends layout

block content
  .banner-bootom-w3-agileits
    .container
        h1= 'Cửa hàng điện thoại, điện tử, viễn thông E-Store'
        p='Sđt: 01695042165'
        p='Email: hadinhnhan1102@gmail.com'